.appleBerry {
	font-family: appleBerry, Verdana, Arial, sans-serif;
}
#logoText {
	font-family: "appleBerry",Verdana, Arial, sans-serif;
	background-image: none ;
	font-size: 40px ;
	width: 240px ;
}
#logoText .light, #logoText .light:hover {
	color: #c4b2d6;
}
#logoText .dark, #logoText .dark:hover {
	color: #9079a3;
}
#mainContent {
	margin-top:75px ;
	background-color:#1F0A2F ;
	min-width: 980px ;
	height: 100% ;
}
#contentWindow {
	padding: 0px ;
}
.contentArea {
	padding: 20px ;
}
.purpleBorder {
	border: 2px solid #9079a3 ;
}
.darkBG {
	background-color: #392649 ;
}
.lightBG {
	background-color: #4f3b60 ;
}
.contentZone {
	padding-top: 20px ;
	margin-left: 0px ;
	padding-left: 20px ;
	background-color: #392649 ;
}
.interiorContentWrapper {
	padding-top: 0px ;
	padding-left: 0px ;
	margin-left: 0px ;
	background-color: #392649 ; 
}
.sectionBar {
	background-color: #4f3b60 ;
	-webkit-border-top-left-radius: 12px;
	-moz-border-radius-topleft: 12px;
	border-top-left-radius: 12px;
	-webkit-border-top-right-radius: 12px;
	-moz-border-radius-topright: 12px;
	border-top-right-radius: 12px;
	line-height:40px ;
	padding: 0px 20px ;
}
.sideBar {
	padding-top: 20px ;
	margin-left: 0px ;
	padding-left: 20px ;
}
.sideNav {
	margin-left: 20px ;
}
.rightContent {
	/*height: 100% ;*/
	height:500px ;
}
.leftContent {
	/*height: 100% ;*/
	height:500px;
}
.left-rounded {
	-webkit-border-top-left-radius: 12px;
	-webkit-border-bottom-left-radius: 12px;
	-moz-border-radius-topleft: 12px;
	-moz-border-radius-bottomleft: 12px;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
}
.right-rounded {
	-webkit-border-top-right-radius: 12px;
	-webkit-border-bottom-right-radius: 12px;
	-moz-border-radius-topright: 12px;
	-moz-border-radius-bottomright: 12px;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
}
.rounded {
    -webkit-border-radius: 12px;
       -moz-border-radius: 12px;
            border-radius: 12px;
}
.no-space [class*="span"] {
    margin-left: 0;
}
.no-space {
    margin-left:0;
}
.mainHeight {
	height: 550px ;
}
.mainImage {
	width:97% ;
}
a.footer {
	width: 32px ;
	height: 31px ;
	display: block;
	float:left ;
}
a.facebook {
	background-image: url('../images/social_normal.png');
	background-position: 0px 0px ;
}
a.facebook:hover {
	background-image: url('../images/social_rollover.png');
	background-position: 0px 0px ;
}
a.tumblr {
	background-image: url('../images/social_normal.png');
	background-position: -40px 0px ;
}
a.tumblr:hover {
	background-image: url('../images/social_rollover.png');
}
a.twitter {
	background-image: url('../images/social_normal.png');
	background-position: -80px 0px ;
}
a.twitter:hover {
	background-image: url('../images/social_rollover.png');
}
a.linkedin {
	background-image: url('../images/social_normal.png');
	background-position: -120px 0px ;
}
a.linkedin:hover {
	background-image: url('../images/social_rollover.png');
}
a.deviantart {
	background-image: url('../images/social_normal.png');
	background-position: -162px 0px ;
}
a.deviantart:hover {
	background-image: url('../images/social_rollover.png');
}
a.wordpress {
	background-image: url('../images/social_normal.png');
	background-position: -204px 0px ;
}
a.wordpress:hover {
	background-image: url('../images/social_rollover.png');
}
a.etsy {
	background-image: url('../images/social_normal.png');
	background-position: -244px 0px ;
}
a.etsy:hover {
	background-image: url('../images/social_rollover.png');
}
a.rss {
	background-image: url('../images/social_normal.png');
	background-position: -285px 0px ;
}
a.rss:hover {
	background-image: url('../images/social_rollover.png');
}
.footerList {
	
	float:left ;
	display: block ;
}
.footerList > li {
	list-style: none outside none;
	float:left ;
	padding-left:5px ;
}
.footerLinks {
	text-align: right ;
}
.footerBar {
	height:31px ;
}
.navCircle {
	display: block ;
	height: 78px ;
	width: 85% ;
	padding: 10px 0px 10px 0px ;
	font-size:18pt ;
	line-height: 88px ;
	background-repeat:no-repeat;
}
.navCircle a:hover {
	color:#ffffff ;
	text-decoration:none ;
}
.leftCircle {
	padding-left:40px ;
}
.rightCircle {
	text-align:right ;
	padding-right:40px ;
}
.circle1 {
	background-image: url('../images/circle_1.png');
	background-position: left center ;
}
.circle2 {
	background-image: url('../images/circle_2.png');
	background-position: right center ;
}
.circle3 {
	background-image: url('../images/circle_3.png');
	background-position: left center ;
}
.circle4 {
	background-image: url('../images/circle_4.png');
	background-position: right center ;
}
.headline {
	float: right ;
	font-size: 24px ;
}
.homeText {
	padding: 20px 20px 20px 0px ; 
}
hr {
	color:#9079a3;
}
.homeText > span > hr {
	margin:30px 0px ;
	width:100%
}
.highlightText {
	color:#c4b2d6;
}
.right-align {
	text-align:right ;
}
#interiorContentMain {
	position:relative ;
	padding: 0px 20px ;
}
#galleryLeft, #galleryThumbs, #galleryRight {
	height:510px ;
	border: thin solid #f00 ;
	text-align: center ;
}
#galleryLeft {
}
#galleryThumbs {
	
}
#galleryThumbs>ul.thumbnails {
	margin-left:0px ;
}
#galleryThumbs>ul>li{
	display: block ;
	margin-left: auto ;
	margin-right: auto ;
}
img.roundedThumb {
	border:4px solid #9079a3 ;
	-webkit-border-radius: 12px;
       -moz-border-radius: 12px;
            border-radius: 12px;
}
img.roundedThumb:hover {
	border:4px solid white ;
	-webkit-border-radius: 12px;
       -moz-border-radius: 12px;
            border-radius: 12px;
}
