@font-face {
    font-family: 'appleBerry';
    src: url('appleberry_with_cyrillic-webfont.eot');
    src: url('appleberry_with_cyrillic-webfont.eot?#iefix') format('embedded-opentype'),
         url('appleberry_with_cyrillic-webfont.woff') format('woff'),
         url('appleberry_with_cyrillic-webfont.ttf') format('truetype'),
         url('appleberry_with_cyrillic-webfont.svg#appleberryregular') format('svg');
    font-weight: normal;
    font-style: normal;

}